

    <div class="container">

        <!-- header -->
        <section>

        </section>


        <!-- advertise -->
        <section>
        
        </section>


        <!-- photos -->
        <section class="team">
            <div class="row">
                <div class="col-md-3">
                    <img class="img-circle" src="assets/photos/1.jpeg" alt="">
                    <div class="text-center">
                        Emily Watson, <strong>OWNER</strong><br>
                        Email: Emily@Flora.com
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="img-circle" src="assets/photos/2.jpeg" alt="">
                    <div class="text-center">
                        Ambigail, <strong>MANAGER</strong><br>
                        Email: Ambigail@Flora.com
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="img-circle" src="assets/photos/3.jpeg" alt="">
                    <div class="text-center">
                        Ava, <strong>MANAGER</strong><br>
                        Email: Ava@Flora.com
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="img-circle" src="assets/photos/5.jpeg" alt="">
                    <div class="text-center">
                        Olivia, <strong>CTO</strong><br>
                        Email: Olivia@Flora.com
                    </div>
                </div>
            </div>
        </section>


        <!-- footer -->
        <!-- <section class="about-us">
            <div class="row">

                <div class="col-md-3">
                    <strong>Get to Know Us</strong>
                    <ul class="about-us-links">
                        <li><a href=""> About Us</a></li>
                        <li><a href=""> Careers</a></li>
                        <li><a href=""> Press Releases</a></li>
                        <li><a href=""> Amazon Cares</a></li>
                        <li><a href=""> Gift a Smile</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <strong>Connect with Us</strong>
                    <ul class="about-us-links">
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Instagram</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <strong>Make Money with Us</strong>
                    <ul class="about-us-links">
                        <li><a href="">Sell on Amazon</a></li>
                        <li><a href="">Sell under Made for Amazon Brands</a></li>
                        <li><a href="">Become an Affiliate</a></li>
                        <li><a href="">Fulfilment by Amazon</a></li>
                        <li><a href="">Advertise Your Products</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <strong>Let Us Help You</strong>
                    <ul class="about-us-links">
                        <li><a href="">Your Account</a></li>
                        <li><a href="">Returns Centre</a></li>
                    </ul>
                </div>
            </div>
        </section> -->
    </div>
   