img {
    border: 3px black solid;
    margin: 10px;
    border-radius: 10px;
}

img:hover {
    width: 350px;
    height: 350px;
}

div, h1 {
    text-align: center;
}

div.container {
    width: 100%;
    margin: auto;
    
}

.Gallery{
    background-image: url('/assets/fronthd/2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}