
<div class="Gallery">
        <h1>Gallery</h1>
        <div class="container">
            <img src="assets/fronthd/1.jpeg" alt="">
            <img src="assets/fronthd/2.jpeg" alt="">
            <img src="assets/fronthd/3.jpeg" alt="">
        </div>

        <h1>Loby</h1>

        <div class="container">
            <img src="assets/loby/1.jpeg" alt="">
            <img src="assets/loby/2.jpeg" alt="">
            <img src="assets/loby/3.jpeg" alt="">
            <img src="assets/loby/4.jpeg" alt="">
            <img src="assets/loby/5.jpeg" alt="">
            <img src="assets/loby/6.jpeg" alt="">
        </div>

        <h1>Rooms</h1>

        <div class="container">
            <img src="assets/roomshd/1.jpeg" alt="">
            <img src="assets/roomshd/2.jpeg" alt="">
            <img src="assets/roomshd/3.jpeg" alt="">
            <img src="assets/roomshd/4.jpeg" alt="">
            <img src="assets/roomshd/5.jpeg" alt="">
            <img src="assets/roomshd/6.jpeg" alt="">
        </div>
    </div>
