

<div class="row">

        <div class="col-md-4"></div>
      
        <div class="col-md-4">
          <div class="register">
            <div class="form">
              <h1>Register</h1>
             
              <!-- <div class="form-group">
                
                <label for="">Category</label>
                <select [(ngModel)]="categoryid" class="form-control">
                  <option
                    *ngFor="let categoryid of category"
                    [value]="categoryid.categoryid">{{categoryid.categories}}</option>
                </select>
              </div> -->
      
              <div class="form-group">
                <label for="">First Name</label>
                <input  [(ngModel)]="empfirstname" type="name" class="form-control" >
              </div>
      
              <div class="form-group">
                <label for="">Last Name</label>
                <input [(ngModel)]="emplastname" type="name" class="form-control">
              </div>
      
              <div class="form-group">
                <label for="">Email</label>
                <input [(ngModel)]="empemail" type="email" class="form-control">
              </div>
      
              <div class="form-group">
                <label for="">Contact</label>
                <input [(ngModel)]="empcontact" type="contact" class="form-control">
              </div>
      
              <div class="form-group">
                <label for="">UserName</label>
                <input [(ngModel)]="empusername" type="username" class="form-control">
              </div>
      
              <div class="form-group">
                <label for="">Salary</label>
                <input [(ngModel)]="salary" type="number" class="form-control">
              </div>
      
              <div class="form-group">
                <label for="">Password</label>
                <input [(ngModel)]="password" type="password" class="form-control">
              </div>
      
              <div class="form-group">
                  <label for="">Select Image</label>
                  <input (change)="onSelectFile($event)" type="file" class="form-control">
              </div>
             
      
              <div class="form-group">
                <button (click)="onUpdate()" class="btn btn-success">Update</button>
                <a routerLink="/profile-component" class="btn btn-danger pull-right">Cancel</a>
              </div>
            </div>
          </div>
        </div>
        
      
        <div class="col-md-4"></div>
      
      </div>