<div class="col-md-12">


<div class="jumbotron">
  <div class="container ">
    <h1 id="kesari-logo">Kesari</h1> <br>     
    <h2 id="kesari-tagline">To travel is to live.</h2> 
    <!-- <h5>Welcome to our hotel!!</h5>  -->
  </div>
</div>

<div class="AboutUs">
    <div class="container" >
      
      <p id="AboutUsContainerText">We are the leading operators for tours and travels in India. Headquartered in Mumbai we are, experts in field of <br> Domestic as well as International tours. <b>Come take a tour of Incredible India with us! </b></p>     
      
    </div>
</div>

<div id="slider">
  <figure>
      <img src="assets/fronthd/1.jpeg" alt="First slide">
      <img src="assets/fronthd/2.jpeg" alt="second slide">
      <img src="assets/fronthd/3.jpeg" alt="third slide">
      <img src="assets/fronthd/4.jpeg" alt="second slide">
      <img src="assets/fronthd/5.jpeg" alt="third slide">
  </figure>

</div>
  

</div>