
<!-- <div class="col-md-2"></div> -->

<div class="col-md-12">
    <div>
        <div class="row-md-4" >
            <h3>Eat What you want..</h3>
            <img src='assets/AboutUs/1.webp' height="200px" width="500px" alt="Image"/>
        </div>
        <div class="row-md-8"><p>Breakfast, lunch, brunch, dinner or speciality dining,, we'll make ithappen anytime, day or night.
            Our menu is diverse enough to satisfy the widest range of tastes, dietary needs and age groups. No matter the time of day, we'll take care of your request in speedy order.</p>
        </div>
    </div>

    <div>
            <div class="row-md-4" >
                <h3>More than Just Wi-Fi..</h3>
                <img src='assets/AboutUs/2.webp' height="200px" width="500px" alt="Image"/>
            </div>
            <div class="row-md-8"><p>With complimentary Wi-Fi, you can lounge or work in comfortable and functional areas throughout the hotel. Use our total connectivity to send your favorite films and TV shows straight onto our smart TVs in your room and plug into the USB ports beside the bed and desks.</p>
            </div>
    </div>


    <div>
            <div class="row-md-4" >
                <h3>Sleep Experience..</h3>
                <img src='assets/AboutUs/3.webp' height="200px" width="500px" alt="Image"/>
            </div>
            <div class="row-md-8"><p>We personalize your sleep experience. expect high-quality bedding with individually requested mattress comfort settings, soft white lines and a super-comfortable mixed down and feather duvet to keep you nicely tucked in.</p>
            </div>
    </div>

    <div>
        <div class="row-md-4" >
            <h3>Super Breakfast..</h3>
            <img src='assets/AboutUs/4.webp' height="200px" width="500px" alt="Image"/>
        </div>
        <div class="row-md-8"><p>Our hallmark breakfast is made with locally produced foods and is certain to get guests off to a good start to the day. Choose from healthy options and seasonally-updated menus, reflecting the best of local specialities, while there are also tempting options for kids.</p>
        </div>
</div>

<div>
    <div class="row-md-4" >
        <h3>Temptations..</h3>
        <img src='assets/AboutUs/5.png' height="200px" width="500px" alt="Image"/>
    </div>
    <div class="row-md-8"><p>Indulge in the sweet and the savory on arrival, or at just the right time during meetings. In your room or during onsite meetings, you'll be treated to tempting sweets, light refreshments and a variety of fresh fruit.</p>
    </div>
</div>

<div>
    <div class="row-md-4" >
        <h3>Wellbeing..</h3>
        <img src='assets/AboutUs/6.jpg' height="200px" width="500px" alt="Image"/>
    </div>
    <div class="row-md-8"><p>Experience guest relaxation and restoration in a stylish and inviting environment. The elegance of our bath and wellness areas will give you the reinvigorating feel of a mini spa experience..</p>
    </div>
</div>

    
</div>

<!-- <div class="col-md-2"></div> -->