
<div class="row">

        <div class="col-md-4" >
                <div *ngFor="let employee of Employee; let index=index">
                    <img src="http://localhost:4000/{{employee.image}}" alt="employee" height="100" width="100" align="right">
                        
                </div>
        </div>
      
        <div class="col-md-4">
            <div  *ngFor="let employee of Employee; let index=index">

            <div>
                <h1>{{employee.empfirstname}} {{employee.emplastname}}</h1>
                
            </div>

        

            <table class="col-md-6" >
                <div class="profile">
                <tr>Role</tr>
                <tr>Employee Id</tr>
                <tr>Email Id</tr>
                <tr>Phone No</tr>
                <tr>Date of joining</tr>
                <tr>Date of Birth</tr>
                <tr>Salary</tr>
            </div>
            </table>
            <table class="col-md-6">
                <tr>{{employee.categories}}</tr>
                <tr>{{employee.empid}}</tr>
                <tr>{{employee.empemail}}</tr>
                <tr>{{employee.empcontact}}</tr>
                <tr>{{employee.dateofjoining}}</tr>
                <tr>{{employee.dateofbirth}}</tr>
                <tr>{{employee.salary}}</tr>

            </table>

            <a routerLink="/editemployee-component" class="btn btn-warning pull-right">Edit</a>
            </div>
        </div>
         
        <div class="col-md-4"></div>
      
</div>