<div class="container">
  <div class="row">
    <div class="col-md-3">

      

      <div class="list-group">
      <a href="#" class="list-group-item" routerLink="/status-component">Status</a>
      <a href="#" class="list-group-item" routerLink="/availablerooms-component">Available Rooms</a>
      <a href="#" class="list-group-item" routerLink="/payment-component">Payment</a>
      <a href="#" class="list-group-item" routerLink="/employee-component">Employees</a>
      <a href="#" class="list-group-item" routerLink="/admin-login">Logout</a>
      </div>

    </div>

    <div class="col-md-1"></div>

    <div class="col-md-8"></div>

  </div>
</div>


<!-- <div class="container">
  <div class="row">
    <div class="col-md-3">

      

      <div class="list-group">
        <button [class.active]="activePath = '/status-component'" (click)="switchToComponent('status-component')" type="button" class="list-group-item list-group-item-action">Status</button>
        <button [class.active]="activePath = '/availablerooms-component'" (click)="switchToComponent('availablerooms-component')" type="button" class="list-group-item list-group-item-action">Available Rooms</button>
        <button [class.active]="activePath = '/payment-component'" (click)="switchToComponent('payment-component')" type="button" class="list-group-item list-group-item-action">Payment</button>
        <button [class.active]="activePath = '/employee-component'" (click)="switchToComponent('employee-component')" type="button" class="list-group-item list-group-item-action">Employees</button>
        <button [class.active]="activePath = '/admin-login'" (click)="switchToComponent('admin-login')" type="button" class="list-group-item list-group-item-action">Logout</button>
      </div>

    </div>

    <div class="col-md-1"></div>

    <div class="col-md-8"></div>
    
  </div>
</div> -->